form {
    position: fixed;
    top: 15%;
    left: 33%;
    text-align: center;
}

.PredictionPrice{
    height: 7vb;
    width: 10vb;
    float: right;
    background-color: #a4a4a4;
    text-align: center;
    text-decoration: none;
    color: black;
    margin: 1%;
}

.PredictionPrice:hover{
    background-color: #828282;
    text-decoration: underline;
}

.PredictionPrice::before{
    background-color: #a4a4a4;
}
