.UserPage{
    height: 5vb;
    width: 14vb;
    float: right;
    background-color: #a4a4a4;
    text-align: center;
    text-decoration: none;
    color: black;
    margin: 1%;
}
.UserPage:hover{
    background-color: #828282;
    text-decoration: underline;
}
.UserPage::before{
    background-color: #a4a4a4;
}

table{
    position: fixed;
    top: 20%;
    left: 18%;
    text-align: center;
}
table, td{
    border: 2px solid black;
}

.ErrorMes{
    position: fixed;
    top: 40%;
    left: 41.5%;
    text-align: center;
}
