.LogInButton{
  height: 4vb;
  width: 15vb;
  float: right;
  background-color: #a4a4a4;
  text-align: center;
  text-decoration: none;
  color: black;
  margin: 1%;
}
.LogInButton:hover{
  background-color: #828282;
  text-decoration: underline;
}
.LogInButton::before{
  background-color: #a4a4a4;
}

.RegistrationButton{
  height: 4vb;
  width: 15vb;
  float: right;
  background-color: #a4a4a4;
  text-align: center;
  text-decoration: none;
  color: black;
  margin: 1%;
}
.RegistrationButton:hover{
  background-color: #828282;
  text-decoration: underline;
}
.RegistrationButton::before{
  background-color: #a4a4a4;
}

form {
  position: fixed;
  top: 15%;
  left: 33%;
  text-align: center;
}