.AddCarPage{
      height: 4vb;
      width: 10vb;
      float: right;
      background-color: #a4a4a4;
      text-align: center;
      text-decoration: none;
      color: black;
      margin: 1%;
}
.AddCarPage:hover{
      background-color: #828282;
      text-decoration: underline;
}
.AddCarPage::before{
      background-color: #a4a4a4;
}

form {
    position: fixed;
    top: 17%;
    left: 36%;
    text-align: center;
}
