header {
  overflow: auto;
  background-color: #a4a4a4;
  padding: 1% 0.5%;
  text-align: center;
}

body {
  min-height: 100%;
}

form {
  position: fixed;
  top: 15%;
  left: 33%;
  text-align: center;
}

footer{
  display: flex;
  position: absolute;
  flex: 0 0 auto;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  background-color: #a4a4a4;
}

footer .nameOrganisation {
  padding: 15px 150px;
  margin: 15px 0;
  float: right;
  width: 45%;
}

footer .contactsAndOS{
  float: left;
  padding: 15px 300px;
  margin: 15px 0;
  width: 55%;
  text-align: right;
}